{% extends "site_base.html" %}
{% load generic_flatblocks %}
{% load news_tags %}
{% block body_id %}contact{% endblock %}

{% block content %}

<div class="large-6 columns">
{% block article_contact %}
{% endblock %}
</div>

<div class="large-6 columns">
{% block aside_contact %}
	<div class="row" style="margin-top: 5px;">
		<div class="large-12 columns">
				<div class="flex-video">
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nicholas+Towers+Trinidad&amp;aq=&amp;sll=10.669043,-61.514511&amp;sspn=0.176791,0.308647&amp;ie=UTF8&amp;hq=&amp;hnear=Nicholas+Towers,+Independence+Square,+Downtown,+Port+of+Spain,+Trinidad+and+Tobago&amp;t=m&amp;ll=10.65057,-61.510305&amp;spn=0.029523,0.036478&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Nicholas+Towers+Trinidad&amp;aq=&amp;sll=10.669043,-61.514511&amp;sspn=0.176791,0.308647&amp;ie=UTF8&amp;hq=&amp;hnear=Nicholas+Towers,+Independence+Square,+Downtown,+Port+of+Spain,+Trinidad+and+Tobago&amp;t=m&amp;ll=10.65057,-61.510305&amp;spn=0.029523,0.036478&amp;z=14" style="color:#0000FF;text-align:left; background-image: none;"></a></small>
				</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="large-6 columns">
			<ul class="vcard">
			    <li class="fn">Organisation Name</li>
			    <li>Street Address</li>
			    <li>City</li>
			    <li>Country</li>
			    <li>Tel: +868-000-0000</li>
			    <li>Fax: +868-000-000</li>
			 </ul>
		</div>
	</div>
{% endblock %}
</div>

{% endblock %}