{% extends "contact_us/root.html" %}

{% block article_contact %}
<div class="panel">
	<div id="ajaxwrapper">
	<h2>Thanks for Contacting Us</h2>
	<p>
	    Your mail <em>will</em> be read by a real, live human being. We can't
	    guarantee when or whether you'll get a reply, but your message
	    <em>will</em> be read, generally within the next couple of days.
	  </p>
	  <p>
	    If you're expecting a reply and don't get one, please feel free
	    to send a reminder. Please wait a few days, however, unless
	    it's an emergency.
	  </p>
	  </div>
</div>
{% endblock %}