<div class="row">
	<div class="large-3 columns">
		<h5>Address</h5>
			<ul>
			<li>Company Name</li>
			<li>Street Address</li>
			<li>City</li>
			<li>Country</li>
			</ul>
	</div>

	<div class="large-3 columns">
		<h5>Contact Us</h5>
			<ul>
			<li>Phone:&nbsp;1 (868) 000 0000</li>
			<li>Email:&nbsp;<a href="#">email@email.com</a></li>
			</ul>
	</div>

	<div class="social large-3 columns hide-for-small">
		<li style="text-align: center;">
		<a class="fc-webicon facebook medium" href="#" title="facebook" target="_blank">Facebook</a>
		<a class="fc-webicon twitter medium" href="#" title="twitter" target="_blank">Twitter</a>
		<a class="fc-webicon vimeo medium" href="#" title="vimeo" target="_blank">Vimeo</a>
		<a class="fc-webicon youtube medium" href="#" title="youtube" target="_blank">Youtube</a>
		</li>
	</div>

	<div class="large-3 columns hide-for-small">
		<div class="large-10 large-centered columns"><img src="{{STATIC_URL}}images/mfa_logo.png" title="Home" alt="Home"></div>   
	</div>

</div>

<hr>

<div class="row">
 <p style="padding: 0 10px;">© 2013 Copyright Government of the Republic of Trinidad &amp; Tobago. All Rights Reserved</p>
</div>