<div id="sitemap" class="row">
		<div class="twelve columns">
			<h4>Explore Our Site</h4>
		</div>
		<div class="three columns">
			<h6><a href="#">Home</a></h6>
			
			<h6>About Us</h6>
			<li><a href="#">About Us 1</a></li>
			<li><a href="#">About Us 2</a></li>
			<li><a href="#">About Us 3</a></li>
		</div>
		<div class="three columns">			
			<h6>Services</h6>
			<li><a href="#">Services 1</a></li>
			<li><a href="#">Services 2</a></li>
			<li><a href="#">Services 3</a></li>
			
			<h6><a href="#">Photo Gallery</a></h6>
		</div>
		<div class="three columns">
			<h6><a href="#">FAQ</a></h6>
			<h6><a href="#">News</a></h6>
			<h6><a href="#">Events</a></h6>
			<h6><a href="#">Contact Us</a></h6>
		</div>
		<div class="three columns">
			<h6><a href="#">Privacy Policy</a></h6>
			<h6><a href="#">Admin</a></h6>
		</div>
</div>