<div id="header" class="row hide-for-small">
		{% block gov_itc_logo %}
		    <a class="noicon" href="http://www.ttconnect.gov.tt/gortt/portal/ttconnect">
		    	<img src="{{STATIC_URL}}images/gov_itc_header.png" alt="TTConnect" style="padding: 0 1px; margin-bottom: 8px;">
		    </a>
		{% endblock %}
		<div id="logo" class="six columns">
			<a href="/"><img src="{{STATIC_URL}}images/logo.png" title="Home" alt="Home"></a>
		</div>
		<div class="six columns">
				<div class="social six columns offset-by-six">
				<li>
				<a class="fc-webicon facebook medium" href="#" title="facebook" target="_blank">Facebook</a>
				<a class="fc-webicon twitter medium" href="#" title="twitter" target="_blank">Twitter</a>
				<a class="fc-webicon vimeo medium" href="#" title="vimeo" target="_blank">Vimeo</a>
				<a class="fc-webicon youtube medium" href="#" title="youtube" target="_blank">Youtube</a>
				<a class="fc-webicon rss medium" href="/news/feeds/rss/" title="rss feed" target="_blank">RSS Feed</a>
				</li>
		 </div>

		</div>

		<div id="menu" class="menu-bar twelve columns">
			{% include "_navbar.html" %}
		</div>

	</div>

	<div class="attached show-for-small">
    	<div class="row">
			<li class="name mobile-four">
				<a href="/"><i class="general foundicon-home show-for-small"></i>{{SITE_NAME}}</a><a href="#"></a>
			</li>
			<ul class="nav-bar menu mobile-four">
				{% block topbar %}
					{% block nav %}
						{% include "_navbar.html" %}
					{% endblock %}
					{% block account_bar %}{% endblock %}
				{% endblock %}
			</ul>
		</div>
	</div>