#gov_itc_logo {
	height: 31px;
}

#gov_itc_logo img {
	margin-top: 0;
	margin-bottom: 0;
}

#gov_itc_logo a {
	background-image: none;
	padding: 0;
	margin: 0;
}

.top-bar-section ul:first-of-type {
	background: none repeat scroll 0 0 transparent;
}

.top-bar-section ul.right li .dropdown {
	background-color: rgba(0, 135, 204, 0.95);
}

#menu {
	padding: 0px;
}

#menu .top-bar {
	margin: 0px;
	background-color: #646464;
	padding: 0 2px 2px;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#menu .top-bar li {
	border: 0;
	margin-bottom: 0px;
	box-shadow: none;
	font-size: 16px;
}

#menu .top-bar-section li a:not(.button) {
	background: none;
	padding: 0 24px;
}

#menu .top-bar-section .dropdown li a {
	padding: 15px 8px;
}

.top-bar-section .has-dropdown > a:after {
	border-color: rgba(255, 255, 255, 1) transparent transparent;
}

#menu .top-bar li:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.top-bar.expanded .title-area {
	background: none repeat scroll 0 0 transparent;
}

.social li {
	list-style: none;
	padding-top: 8px;
	text-align: right;
}

.social li a:last-of-type {
	margin-top: -2px;
	margin-bottom: -2px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 22px;
}

.fc-webicon.medium {
	height: 25px;
	width: 25px;
}



