body {background: #f5f5f5 url('../images/husk.png') repeat;}

p, li {font-size: 14px;}

#content {
	padding: 10px 10px 25px;
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	background-color: rgba(255, 255, 255, 0.9);}

#header {background-color: rgba(255, 255, 255, 0.7);}


.orbit-container {background: none;}
.orbit-container .orbit-prev, .orbit-container .orbit-next {background-color: transparent;}
.orbit-container .orbit-slides-container > * .orbit-caption {left: 0;}
.orbit-bullets {margin: 0 0 15px;top: 6px; float: right;}
.orbit-bullets li {height: 12px;width: 12px;float: left;border-width: 1px;}

#sidebar .panel, #news-feed .panel, #news_sidebar .panel {padding: 8px;}

.links li {list-style: none;padding: 3px 0;font-size: 14px;font-variant: small-caps;}
.bio img {float: left;padding-right: 10px;}



/*---FAQ----*/

#faq {color: #666666;margin-left: 10px;}

#faq a {color: #666666;}

#faq li {padding: 2px 0;}

#faq dt {font-weight: bold;margin: 15px 50px 5px;}

#faq dl p {padding-left: 10px;}

#faq dl p:first-of-type {margin-top: -15px;}

#faq dt:before {
        content: "Q";
        margin-right: 7px;
        padding: 0 8px 5px 8px;
        color: #08C;
        border-radius: 5px;
        background-color: #CCC;
        margin-left: -47px;
        position: relative;
        top: 13px;
        font: normal 2.5em Georgia, "Times New Roman", Times, serif;
}

#faq dd {
        margin: 25px 50px 0px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        line-height: 150%;
}

#faq dd:before {
	    content: "A";
	    margin-right: 7px;
	    padding: 0 9px;
	    color: #fff ;
	    border-radius: 5px;
	    background-color: #08C;
	    margin-left: -47px;
	    position: relative;
	    top: 13px;
	    font: 2.5em Georgia, "Times New Roman", Times, serif;
}

#faq .totop {text-align: right;margin: 10px 50px;
}

/*---END FAQ----*/







/*---GALLERY---*/

#gallery li {
	list-style: none;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
}

#gallery {padding: 1px 11px;}

#gallery .th { border: 0;border-radius: 8px;padding: 5px;}

#gallery .th img { border-radius: 5px;}

.image-gallery h6 {
	text-decoration: none;
	text-align: center;
	font-variant: normal;
	margin-top: 1px;
}

.image-gallery h6 a {color: #08C;}

.image-gallery .img-wrapper img {
	background:#fff;
	padding:4px;
	border:1px solid #A9A9A9;
	position:relative;
	left:-5px;
	top:-5px;
	border-radius: 5px;
}

/*---END GALLERY----*/





/*---NEWS---*/

#blog hr:last-of-type, #news-feed hr:last-of-type {border: 0px;}

#blog a.button {margin-bottom: 10px;float: right;}

#blog li {list-style-position:inside;}

#news-feed h6 {margin-bottom: 2px;}

#news-feed p {margin-bottom: 2px;font-size: 11px;}

#news_sidebar li {font-size: 16px;font-variant: small-caps;list-style: none;}

#news_sidebar li a, #news_sidebar h5{color: #006C99;}

#sidebar h5, .sidebar h5, #news_sidebar h5, #news-feed h5 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 8px;
	font-variant: small-caps;
}

#news_sidebar h5 {margin-bottom: 5px}


/*---END NEWS---*/







/*---FOOTER & SITEMAP---*/

.sitemap.row {padding: 5px 10px 20px;background-color: #C8C8C8;}
.sitemap li {margin-bottom: 8px; list-style: none; font-size: 14px; font-weight: 500;}
.sitemap li a { color: #646464;}
.sitemap li a:hover { color: #CCC; }
.sitemap h4 {color: #fff;margin-top: 5px;margin-bottom: 0;}
.sitemap h6 {color: #fff; margin-bottom: 8px;}
.sitemap h6 a {color: #fff;}
.sitemap a[href$=".pdf"]{background-image: none;}

footer.row {
	background: #646464;
	color: #fff;
	padding: 20px 10px 0;
	list-style: none;
	margin-top: -10px;
}

footer.row li {list-style: none;font-size: 12px;}

footer.row h5 {
	margin-top: 0px;
	margin-bottom: 6px;
	font-size: 15px;
	color: #fff;
}

footer.row p {
	margin-bottom: 2px;
	padding-bottom: 5px;
	font-size: 13px;
	text-align: center;
}

footer.row hr {margin-top: 0px;margin-bottom: 4px;}
footer.row a {color: #fff;}
footer.row a:hover {color: #fff; text-decoration: underline;}

/*---END FOOTER & SITEMAP---*/